
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* -------------------- Body style ---- */

* {
    padding: 0;
    margin:0;
    max-width: 100%;
}

/* --------------------  Heading ---- */
.header {
    width: 100%;
    max-height: 100px;
}
#head {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(158, 154, 154);
    width: 100vw;
    color: black; 
}
.heading {
    color: black;    
    
}
#menu {
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    font-size: 100%;
}
#menu li {
    list-style-type: none;
    margin-right: 20px;
    margin-top: 30px;
    color: yellow;
    font-size:x-large;
    font-weight: bolder;
}
#menu li:active,
#menu li:hover {
    color: rgb(192, 17, 17);
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}
.heading {
    text-align: center;
    font-size: 2rem;
    float: left;
    margin-left: 20px;
}

.logo {
    float: left;
    height: 50px;
    padding-right: 10px;
}

/* --------------------  Body ---- */

.frontPage {
    min-height: 50px;
    font-size: 18px;
    border-radius: 8px;
    color: white;
    background-color:rgba(60, 60, 60, 0.6);
    width: 100%;
    float: left;
    padding-top: 15px;
}

.game-area {
    background: url(../images/san-siro.jpg) center no-repeat;
    font-family: "Raleway", sans-serif;
    color: #201e1d;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 90px;
    background-color: rgba(170, 135, 135, 0.6);
    border-radius: 2px;
    padding: 10px;
    text-align: center;
}

.question {
    min-height: 40px;
    font-size: 15px;
    border-radius: 8px;
    color: white;
    background-color:rgba(60, 60, 60, 0.6);
    width: 100%;
    float: left;
    padding-top: 15px;
}
.endG {
    height: 80px;
    font-size: 15px;
    border-radius: 8px;
    color: white;
    background-color:rgba(60, 60, 60, 0.6);
    float: left;
}
.scores{
    color: white;
}
.btn-grid {
    width: 100%;
    background-position: center;
}
#answer {
    display: flex;
    padding: 0;
    flex-wrap:nowrap;
    justify-content: space-between;
    border-radius: 8px;
    color: white;
    padding: 15px 10px;
}
.answ {
    display: inline-block;
    width: 45%;
    border-radius: 8px;
    margin-bottom: 30px;
    margin: 10px;
    background-color: rgba(60, 60, 60, 0.6);
    color: white;
    padding: 15px;
    cursor: pointer;
}
.answ:active,
.answ:hover {
    background-color: #c3c6d5;
}
.btn {
    border-radius: 8px;
    background-color: rgba(221, 199, 199, 0.6);
    color: white;
    padding: 15px 10px;
}

.btn:active,
.btn:hover {
    border-color: black;
    color:black;
    background-color: white;
}
#start-btn, #next-btn {
    font-size: 2rem;
    font-weight: bold;
    padding: 5px 20px;
    margin: 10px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------- Footer ----------------------*/


footer{
    margin:0;
    background:rgb(158, 154, 154);
    width: 100%;
    height: 100px;
}
.footerbox {
    background-position: center;
}
.social {
    height: 200px;
    flex-direction: row;
    text-align: center;
    padding-top: 25px;
    justify-content: space-evenly;
}
.social li {
    display: inline;
}
.social i {
    font-size: 200%;
    color:yellow;
    align-items:center;
    position: relative;
}
/*------------------------- Screen size 900px and down ----------------------*/

@media screen and (max-width: 900px) {
    .header{
        max-width: 100%;
    }

    #menu {
        font-size: 70%;
        float: none;
        letter-spacing: 0.5px;
    }
    #menu li {
        float: right;
        list-style-type: none;
        padding: 0;
        margin-top: 20px;
        font-size: 15px;
    }
    .heading{
        float: right;
    }
    .logo{
        height: 20px;
        float: left;
        font-size: 10px;
    }
    .container{
        margin-top: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #answer {
        display: flex;
        padding: 0;
        flex-wrap:wrap;
        justify-content: space-between;
        border-radius: 8px;
        color: white;
        padding: 15px 10px;
        flex-direction: row;
    }
    footer {
        max-width: 100%;
    }
    .social {
        justify-content: center;
    }
    
}

/*------------------------- Screen size 400px and down ----------------------*/

@media screen and (max-width: 400px) {

    #head {
        max-width: 100%;
        height: 60px;
    }
    .headnig {
        font-size: 20px;
    }
    .header{
        float: left;
        max-width: 100%;
    }

    .logo{
        height: 20px;
        float: left;
        font-size: 5px;
    }

    #menu {
        letter-spacing: 0.2px;
    }
    #menu li {
        float: right;
        list-style-type: none;
        font-size: 14px;
        margin-top:5px;
    }
    .container{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .game-area {
        width: 100%;
        background-position:center;
        margin:0;
        background-size: cover;
        height: auto;
        margin-top: 40px;
        font-size: smaller;
    }
    #answer {
        display: flex;
        padding: 0;
        flex-wrap:wrap;
        justify-content: space-between;
        border-radius: 8px;
        color: white;
        padding: 15px 10px;
        flex-direction: row;
    }

    footer {
        max-width: 100%;
        font-size: 20px;
        margin: 0;
        padding: 0;
        
    }
    .social {
        justify-content: center;
    }
}
